<h1>Release {{model.name}}</h1>

{{model.description}}

<ul>
{{#each-in model.environments as |name environment|}}
{{#link-to "environment" environment}}
<div class="ui ribbon label">{{environment.name}}</div>
{{/link-to}}
{{/each-in}}
</ul>


<ul>
{{#each-in model.components as |name component|}}
  <li>{{name}} {{component.name}}</li>
{{/each-in}}
</ul>

{{outlet}}
